In [1]:
# import packages
import os
import sqlalchemy as sa
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# import files
HOME = os.path.dirname(os.getcwd())
URL = 'sqlite:///' + os.path.join(HOME, 'Database/CCS.db')

In [3]:
engine = create_engine(URL, echo = True) # sqlite:////absolute/path/to/file.db
# ALITER: engine = create_engine('sqlite:////Users/arpanganguli/Documents/Projects/SINE/Database/CCS.db', echo = True) # sqlite:////absolute/path/to/file.db

In [4]:
# initial query
query_string = "SELECT * FROM CCS"
df = pd.read_sql(sql=query_string, con=engine)

display(df.head())

2021-04-20 19:19:03,156 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-04-20 19:19:03,156 INFO sqlalchemy.engine.base.Engine ()
2021-04-20 19:19:03,157 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-04-20 19:19:03,158 INFO sqlalchemy.engine.base.Engine ()
2021-04-20 19:19:03,158 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT * FROM CCS")
2021-04-20 19:19:03,158 INFO sqlalchemy.engine.base.Engine ()
2021-04-20 19:19:03,159 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT * FROM CCS")
2021-04-20 19:19:03,160 INFO sqlalchemy.engine.base.Engine ()
2021-04-20 19:19:03,161 INFO sqlalchemy.engine.base.OptionEngine SELECT * FROM CCS
2021-04-20 19:19:03,161 INFO sqlalchemy.engine.base.OptionEngine ()

,Index,Round,Period,City,Age,Gender,Annual Income,Assembly Constituency Name,Educational Qualification,No. of Family Members,...,Perception on essential spending - compared to one year ago,Outlook on essential spending - one year ahead,Perception on non-essential spending - compared to one year ago,Outlook on non-essential spending - one year ahead,Perception on Employment scenario - compared to one year ago,Outlook on Employment scenario - one year ahead,Perception on General prices - compared to one year ago,Outlook on General prices - one year ahead,Perception on Inflation - compared to one year ago,Outlook on Inflation - one year ahead
0,0,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Below graduate,5 and more,...,Increased,Will increase,Increased,Will increase,Improved,Will improve,Increased,Will increase,Increased,Will increase
1,1,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Below graduate,5 and more,...,Increased,Will increase,Decreased,Will decrease,Improved,Will improve,Decreased,Will increase,None,Will increase
2,2,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Graduate & above,5 and more,...,Increased,Will increase,Decreased,Will decrease,Worsened,Remain the same,Increased,Will increase,Increased,Will increase
3,3,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Up to primary,3 or 4,...,Increased,Will increase,Decreased,Will decrease,Improved,Will improve,Increased,Will increase,Increased,Will increase
4,4,23.0,2015-03-31 00:00:00.000000,Bengaluru,22-29 year,Female,Rs. 1 lakh or less,Batarayanapura,Up to primary,3 or 4,...,Increased,Will decrease,Decreased,Will decrease,Remained the same,Remain the same,Increased,Will increase,Increased,Will increase

In [17]:
query_string = "SELECT DISTINCT Period FROM CCS"
df = pd.read_sql(sql=query_string, con=engine)
display(df)

2021-04-20 19:25:30,162 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("SELECT DISTINCT Period FROM CCS")
2021-04-20 19:25:30,163 INFO sqlalchemy.engine.base.Engine ()
2021-04-20 19:25:30,164 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("SELECT DISTINCT Period FROM CCS")
2021-04-20 19:25:30,165 INFO sqlalchemy.engine.base.Engine ()
2021-04-20 19:25:30,168 INFO sqlalchemy.engine.base.OptionEngine SELECT DISTINCT Period FROM CCS
2021-04-20 19:25:30,168 INFO sqlalchemy.engine.base.OptionEngine ()

                        Period
0   2015-03-31 00:00:00.000000
1                         None
2   2018-11-30 00:00:00.000000
3   2019-03-31 00:00:00.000000
4   2016-06-30 00:00:00.000000
5   2016-11-30 00:00:00.000000
6   2017-03-31 00:00:00.000000
7   2020-11-30 00:00:00.000000
8   2018-06-30 00:00:00.000000
9   2015-09-30 00:00:00.000000
10  2019-09-30 00:00:00.000000
11  2019-05-31 00:00:00.000000
12  2017-12-31 00:00:00.000000
13  2017-05-31 00:00:00.000000
14  2015-12-31 00:00:00.000000
15  2020-01-31 00:00:00.000000
16  2017-09-30 00:00:00.000000
17  2017-06-30 00:00:00.000000
18  2019-07-31 00:00:00.000000
19  2018-03-31 00:00:00.000000
20  2019-11-30 00:00:00.000000
21  2015-06-30 00:00:00.000000
22  2020-03-31 00:00:00.000000
23  2016-03-31 00:00:00.000000
24  2017-11-30 00:00:00.000000
25  2016-12-31 00:00:00.000000
26  2018-05-31 00:00:00.000000
27  2018-09-30 00:00:00.000000
28  2016-09-30 00:00:00.000000
29  2020-05-31 00:00:00.000000
30  2018-12-31 00:00:00.000000